DB_TYPE=''
DB_USER=''
DB_PASSWORD=''
DB_HOST=''
DB_PORT=''
DB_NAME=''
JWT_SECRET_KEY=''
JWT_ALGORITHM=''
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=''
JWT_REFRESH_TOKEN_EXPIRE_DAY=''
SV_HOST=''
SV_PORT=''
CORS_ORIGINS='http://localhost:3000,http://127.0.0.1:3000'
DEBUG='False'